.hero__carousel {
  flex: 1;
}

.hero__carousel .hero__carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: calc(100% - 380px);
}

.hero__carousel .hero__carousel-wrapper figure {
  position: relative;
  width: 320px;
  height: 420px;
}

.hero__carousel .hero__carousel-wrapper figure>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 120px 0 120px 0;
}

.hero__carousel .hero__carousel-wrapper figure>span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 120px 0 120px 0;
  border: 2px solid var(--dark-color-25);
  z-index: -1;
}

@media (width > 75em) {
  .hero__carousel .hero__carousel-wrapper {
    bottom: calc(100% - 460px);
  }

  .hero__carousel .hero__carousel-wrapper figure {
    width: 424px;
    height: 540px;
  }
}