.hero__text {
  flex: 1;
}

.hero__text-title {
  text-align: center;
  margin: 0 0 24px;
}

.hero__text-paragraph {
  text-align: center;
}

@media (width > 62em) {
  :is(.hero__text-title, .hero__text-paragraph) {
    text-align: left;
  }

  .hero__text-title {
    margin: 0 0 48px;
  }
}